@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import '../styles/variables.scss';
@import '../styles/header.scss';



body {
    .fifth-content {
        width: 100dvh;
        display: flex;
        position: relative;
        left: 60dvh;
        margin-bottom: 3dvh;
    }
}