$primary: hsla(0, 0%, 100%, 1);
$accent-500: hsla(227, 92%, 58%, 1);
$accent-500-op: #E1E7FE;
$neutral-800: hsla(200, 24%, 44%, 1);
$neutral-400: hsla(215, 17%, 88%, 1);
$neutral-900: hsla(215, 31%, 21%, 1);
$background-gradient-600: linear-gradient(290deg, rgba(214, 230, 254, 1) 0%, rgba(214, 252, 254, 0.00) 100%);
$background-gradient-900: linear-gradient(290deg,  rgba(214, 230, 254, 0.30) 0%, rgba(214, 252, 254, 0) 100%);
$shadow-500: rgba(143, 174, 207, 0.25);
